<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-sign-in"></span> You are logged in as:</h1>
    </div>

    <div class="row">

        <%

            Object.keys(user.auth).forEach(function(item) {

            var visa = visas.filter(function(visa) {
                return visa.name == item;
            })[0];

            if(visa) {

        %>

            <div class="col-sm-12">
                <div class="well">
                    <h3 class="text-<%= visa.color %>"><span class="fa <%= visa.icon %>"></span> <%= visa.label %></h3>

                    <p>

                        <strong>_id</strong>: <%= user._id %><br>

                        <% Object.keys(user.auth[item]).forEach(function(attribute) { %>

                            <strong><%= attribute %></strong>: <%= user.auth[item][attribute] %><br>

                        <% }) %>

                    </p>

                </div>
            </div>

        <%

                }

            })

        %>

    </div>

    <div class="text-center">
        <a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out"></span> Logout</a>
        <a href="/sense" class="btn btn-success btn-sm"><span class="fa fa-external-link"></span> Qlik Sense!</a>
    </div>

</div>
</body>
</html>
